[SCRIPT]
mysqlimport_cmd = /opt/local/bin/mysqlimport
mysqlimport_table = data_import
mysqlimport_database = py_mysql
data_dir = data
finished_dir = finished

[MYSQLIMPORT]
host = localhost
port = 3306
user = py_mysql
columns = id, item_code, item_cost, qty, total