[SCRIPT]
data_dir = 'data'
normalized_dir = 'data/normalized'
finished_dir = 'data/normalized/finished'
target_table = 'my_table'

[MYSQLIMPORT]
cmd = 'mysqlimport'
host = 'localhost'
port = 3306
user = 'user'
password = 'pass'
db_name = my_database
columns = ''
